<!-- Side icon menu -->
<ul>
  <li class="main-logo">
    <a href="/">
      <img src="/img/logo/square-violet.svg" class="light-image-block" alt="" />
      <img src="/img/logo/square-green.svg" class="dark-image-block" alt="" />
    </a>
  </li>
  <li
    class="side-icon"
    @click="openSidebar('dashboard')"
    :class="{
            'is-active': $store.app.activeSidebar == 'dashboard',
            '': !$store.app.activeSidebar != 'dashboard'
        }"
  >
    <i class="sl icon-speedometer"></i>
  </li>
  <li
    class="side-icon"
    @click="openSidebar('documents')"
    :class="{
            'is-active': $store.app.activeSidebar == 'documents',
            '': !$store.app.activeSidebar != 'documents'
        }"
  >
    <i class="sl icon-docs"></i>
  </li>
  <li
    class="side-icon"
    @click="openSidebar('business')"
    :class="{
            'is-active': $store.app.activeSidebar == 'business',
            '': !$store.app.activeSidebar != 'business'
        }"
  >
    <i class="sl icon-briefcase"></i>
  </li>
  <li
    class="side-icon"
    @click="openSidebar('misc')"
    :class="{
            'is-active': $store.app.activeSidebar == 'misc',
            '': !$store.app.activeSidebar != 'misc'
        }"
  >
    <i class="sl icon-graph"></i>
  </li>
</ul>
