/* Dashkit | 2022-2023 | CSS Ninja */

/*
    1. Dropdown
*/

/* ==========================================================================
1. Dropdown
========================================================================== */

.styled-dropdown {
  height: 36px;
  width: 36px;

  &.is-round {
    > .button {
      border-radius: 50%;
      border: none;
    }
  }

  > .button:not(.is-primary):not(.is-secondary):not(.is-light):not(.is-info):not(.is-success):not(.is-warning):not(.is-danger) {
    height: 36px;
    width: 36px;
    box-shadow: none !important;

    i {
      padding: 0;
      color: var(--dropdown-icon-color);
    }

    &:hover {
      background: var(--button-base-bg-color) !important;

      i {
        color: var(--dropdown-icon-color-hover);
      }
    }
  }

  .dropdown-menu {
    width: 280px;

    .dropdown-content {
      background: var(--dropdown-bg-color);
      border: 1px solid var(--dropdown-border-color);
      box-shadow: var(--light-box-shadow);

      .dropdown-item {
        display: flex;
        align-items: center;
        width: 100%;

        > span {
          margin-left: 10px;
          line-height: 1.4;

          span {
            display: block;

            &:first-child {
              color: var(--title-color);
              font-family: var(--font-alt);
              font-weight: 600;
              font-size: 0.9rem;
            }

            &:nth-child(2) {
              font-size: 0.9rem;
              font-weight: 400;
              font-family: var(--font);
              color: var(--light-text);
            }
          }
        }

        i {
          font-size: 16px;
          color: var(--light-text);
        }

        &:hover {
          background: var(--dropdown-bg-color-hover);
        }
      }

      .dropdown-divider {
        background: var(--dropdown-border-color);
      }
    }
  }
}

.button-dropdown {
  > .button {
    min-width: 110px;

    &.is-secondary {
      background-color: var(--secondary) !important;
      width: auto !important;
    }
  }

  .dropdown-menu {
    width: 280px;

    .dropdown-content {
      background: var(--dropdown-bg-color);
      border: 1px solid var(--dropdown-border-color);
      box-shadow: var(--light-box-shadow);

      .dropdown-item {
        display: flex;
        align-items: center;
        width: 100%;

        span {
          display: block;
          margin: 0 10px;

          span {
            &:first-child {
              font-family: var(--font-alt);
              font-size: 0.9rem;
              font-weight: 600;
              color: var(--title-color);
            }

            &:nth-child(2) {
              font-family: var(--font);
              font-size: 0.9rem;
              color: var(--light-text);
            }
          }
        }

        i {
          font-size: 16px;
          color: var(--light-text);
        }

        &:hover {
          background: var(--dropdown-bg-color-hover);
        }
      }

      .dropdown-divider {
        background: var(--dropdown-border-color);
      }
    }
  }
}
