/* Dashkit | 2022-2023 | CSS Ninja */

/*
    1. User List
*/

/* ==========================================================================
1. User list
========================================================================== */

.user-list {
  li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.75rem 0;
  }

  .user-list-avatar {
    width: 42px;
    min-width: 42px;
    height: 42px;
    max-height: 42px;

    img {
      display: block;
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  .user-list-info {
    margin: 0 10px;

    .name {
      font-family: var(--font-alt);
      font-size: 14px;
      font-weight: 500;
      color: var(--title-color);
    }

    .position {
      font-family: var(--font);
      font-size: 12px;
      color: var(--light-text);
    }
  }

  .user-list-action {
    margin-left: auto;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    border: 1px solid var(--wrap-border-color);
    background: var(--wrap-bg-color);
    box-shadow: var(--light-box-shadow);
    color: var(--light-text);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      background: var(--secondary);
      box-shadow: var(--secondary-box-shadow);
      color: var(--white);
    }

    i {
      transition: color 0.3s;
    }

    svg {
      height: 16px;
      width: 16px;
      transition: stroke 0.3s;
    }
  }

  .user-list-status {
    height: 10px;
    width: 10px;
    border-radius: 100px;
    background: var(--light-text);
    margin-left: auto;

    &.is-offline {
      background: var(--wrap-muted-color);
    }

    &.is-online {
      background: var(--success);
    }

    &.is-busy {
      background: var(--warning);
    }
  }
}
