
// sass variables
$danger: var(--danger)
$dark: var(--dark)
$info: var(--info)
$link: var(--link)
$primary: var(--primary)
$success: var(--success)
$warning: var(--warning)
$white: var(--white)


// declared base css variables
#{":root"}
  --danger: rgb(230, 41, 100)
  --dark: rgb(40, 50, 82)
  --info: rgb(3, 152, 226)
  --link: rgb(72, 95, 199)
  --primary: rgb(0, 209, 178)
  --success: rgb(6, 214, 158)
  --warning: rgb(250, 173, 66)
  --white: rgb(255, 255, 255)


// derived, generated css variables
#{":root"}
  --danger--100--rgba: rgb(230, 41, 100)
  --danger--25--rgba: rgba(230, 41, 100, 0.25)
  --danger--250--darken: rgb(229, 30, 92)
  --danger--500--darken: rgb(220, 26, 86)
  --danger--color-invert: rgb(255, 255, 255)
  --danger--dark-color: rgb(210, 25, 83)
  --danger--light-color: rgb(253, 237, 242)

  --dark--100--rgba: rgb(40, 50, 82)
  --dark--25--rgba: rgba(40, 50, 82, 0.25)
  --dark--250--darken: rgb(36, 45, 73)
  --dark--500--darken: rgb(32, 40, 65)
  --dark--70--rgba: rgba(40, 50, 82, 0.7)
  --dark--800--lighten: rgb(53, 67, 109)
  --dark--color-invert: rgb(255, 255, 255)

  --info--100--rgba: rgb(3, 152, 226)
  --info--25--rgba: rgba(3, 152, 226, 0.25)
  --info--250--darken: rgb(3, 144, 213)
  --info--500--darken: rgb(3, 135, 201)
  --info--color-invert: rgb(255, 255, 255)
  --info--dark-color: rgb(3, 135, 201)
  --info--light-color: rgb(235, 248, 255)

  --link--100--rgba: rgb(72, 95, 199)
  --link--25--rgba: rgba(72, 95, 199, 0.25)
  --link--250--darken: rgb(62, 87, 196)
  --link--500--darken: rgb(58, 81, 188)
  --link--color-invert: rgb(255, 255, 255)
  --link--dark-color: rgb(56, 79, 184)
  --link--light-color: rgb(239, 241, 250)

  --primary--100--rgba: rgb(0, 209, 178)
  --primary--25--rgba: rgba(0, 209, 178, 0.25)
  --primary--250--darken: rgb(0, 196, 167)
  --primary--500--darken: rgb(0, 184, 156)
  --primary--color-invert: rgb(255, 255, 255)
  --primary--dark-color: rgb(0, 148, 126)
  --primary--light-color: rgb(235, 255, 252)

  --success--100--rgba: rgb(6, 214, 158)
  --success--25--rgba: rgba(6, 214, 158, 0.25)
  --success--250--darken: rgb(6, 202, 149)
  --success--500--darken: rgb(5, 189, 140)
  --success--color-invert: rgb(255, 255, 255)
  --success--dark-color: rgb(4, 144, 106)
  --success--light-color: rgb(235, 254, 249)

  --warning--100--rgba: rgb(250, 173, 66)
  --warning--25--rgba: rgba(250, 173, 66, 0.25)
  --warning--250--darken: rgb(250, 168, 54)
  --warning--500--darken: rgb(249, 162, 41)
  --warning--color-invert: rgba(0, 0, 0, 0.7)
  --warning--dark-color: rgb(144, 85, 4)
  --warning--light-color: rgb(255, 246, 235)

  --white--100--rgba: rgb(255, 255, 255)
  --white--25--rgba: rgba(255, 255, 255, 0.25)
  --white--250--darken: rgb(249, 249, 249)
  --white--500--darken: rgb(242, 242, 242)
  --white--800--lighten: rgb(255, 255, 255)

