<!-- Sidebar menu 3 -->
<ul id="business-menu" class="sidebar-menu" :class="{
        'is-active': $store.app.activeSidebar == 'business',
        '': !$store.app.activeSidebar != 'business'
    }">
    <li class="have-children" @click="openSidebarMenu('business-menu-1')" :class="{
            'active': $store.app.activeSidebarMenu == 'business-menu-1',
            '': !$store.app.activeSidebarMenu != 'business-menu-1'
        }">
        <a class="parent-link" href="javascript:">
            <span class="material-icons">group</span>
            Contacts
        </a>
        <ul x-show="$store.app.activeSidebarMenu == 'business-menu-1'" x-collapse>
            <li><a href="/">Contact list</a></li>
            <li><a href="/">Contact grid</a></li>
            <li><a href="/">Contact details</a></li>
        </ul>
    </li>
    <li class="have-children" @click="openSidebarMenu('business-menu-2')" :class="{
            'active': $store.app.activeSidebarMenu == 'business-menu-2',
            '': !$store.app.activeSidebarMenu != 'business-menu-2'
        }">
        <a class="parent-link" href="javascript:">
            <span class="material-icons">work</span>
            CRM
        </a>
        <ul x-show="$store.app.activeSidebarMenu == 'business-menu-2'" x-collapse>
            <li><a href="/">All Boards</a></li>
            <li><a href="/">Deals Kanban</a></li>
            <li><a href="/">Single Deal</a></li>
        </ul>
    </li>
    <li class="have-children" @click="openSidebarMenu('business-menu-3')" :class="{
            'active': $store.app.activeSidebarMenu == 'business-menu-3',
            '': !$store.app.activeSidebarMenu != 'business-menu-3'
        }">
        <a class="parent-link" href="javascript:">
            <span class="material-icons">verified_user</span>
            Support Desk
        </a>
        <ul x-show="$store.app.activeSidebarMenu == 'business-menu-3'" x-collapse>
            <li><a href="/">Desk Dashboard</a></li>
            <li><a href="/">Ticket list</a></li>
            <li><a href="/">Single Ticket</a></li>
        </ul>
    </li>
</ul>