<!-- Sidebar menu 2 -->
<ul
  id="documents-menu"
  class="sidebar-menu"
  :class="{
        'is-active': $store.app.activeSidebar == 'documents',
        '': !$store.app.activeSidebar != 'documents'
    }"
>
  <li
    class="have-children"
    @click="openSidebarMenu('documents-menu-1')"
    :class="{
            'active': $store.app.activeSidebarMenu == 'documents-menu-1',
            '': !$store.app.activeSidebarMenu != 'documents-menu-1'
        }"
  >
    <a class="parent-link" href="javascript:">
      <span class="material-icons">insert_drive_file</span>
      Documents
    </a>
    <ul x-show="$store.app.activeSidebarMenu == 'documents-menu-1'" x-collapse>
      <li><a href="document-list.html">Document list</a></li>
      <li><a href="document-details.html">Document details</a></li>
      <li><a href="document-invoice.html">Invoice</a></li>
    </ul>
  </li>
  <li
    class="have-children"
    @click="openSidebarMenu('documents-menu-2')"
    :class="{
            'active': $store.app.activeSidebarMenu == 'documents-menu-2',
            '': !$store.app.activeSidebarMenu != 'documents-menu-2'
        }"
  >
    <a class="parent-link" href="javascript:">
      <span class="material-icons">assignment</span>
      Projects
    </a>
    <ul x-show="$store.app.activeSidebarMenu == 'documents-menu-2'" x-collapse>
      <li><a href="projects-list.html">Project list</a></li>
      <li><a href="projects-details.html">Project details</a></li>
    </ul>
  </li>
  <li
    class="have-children"
    @click="openSidebarMenu('documents-menu-3')"
    :class="{
            'active': $store.app.activeSidebarMenu == 'documents-menu-3',
            '': !$store.app.activeSidebarMenu != 'documents-menu-3'
        }"
  >
    <a class="parent-link" href="javascript:">
      <span class="material-icons">assignment_turned_in</span>
      Tasks
    </a>
    <ul x-show="$store.app.activeSidebarMenu == 'documents-menu-3'" x-collapse>
      <li><a href="projects-task.html">Single Task</a></li>
      <li><a href="projects-mytasks.html">My Tasks</a></li>
      <li><a href="events-board.html">Events</a></li>
    </ul>
  </li>
</ul>
