/*
    1. Global override
    2. Bulma spacing override
*/

/* ==========================================================================
1. Global override
========================================================================== */

$fullhd-enabled: false;
$body-size: 14px;

/* ==========================================================================
2. Bulma spacing override
========================================================================== */

$spacing-values: (
  "0": 0,
  "1": 0.25rem,
  "2": 0.5rem,
  "3": 0.75rem,
  "4": 1rem,
  "5": 1.5rem,
  "6": 3rem,
  "8": 4rem,
  "10": 5rem,
  "12": 6rem,
  "14": 7rem,
  "16": 8rem,
);
