<div x-show="visible" class="lite-cta" x-data="{ visible: true }">
  <div class="head">
    <h3>Dashkit Lite</h3>
    <button type="button" @click="visible = false">
      <span class="material-icons no-click">close</span>
    </button>
  </div>
  <div class="body">
    <p>Welcome to the Dashkit Lite freebie demo. This is a free and open source demo of a premium product.</p>
  </div>
  <div class="foot">
    <a href="https://go.cssninja.io/buy-dashkit" class="button is-primary raised is-fullwidth"
      >Purchase Full Version</a
    >
    <a href="https://go.cssninja.io/demo-dashkit" class="link">Explore full demo</a>
  </div>
</div>
