<!-- Child push sidebar menu -->
<nav
  class="child-menu"
  x-data="initSidebarLeft()"
  x-init="$store.app.sidebarOpenedState = false"
  :class="{
        'is-sidebar-translated': $store.app.sidebarOpenedState,
        '': !$store.app.sidebarOpenedState
    }"
>
  <div class="child-menu-inner">
    <!-- Child menu header -->
    <ul>
      <li class="child-header">
        <div class="sidebar-title">Navigation</div>
        <a
          href="javascript:void(0);"
          class="menu-wrapper"
          @click="closeSidebar()"
        >
          <span
            class="icon-box-toggle active"
            :class="{
                            'active': $store.app.sidebarOpenedState,
                            '': !$store.app.sidebarOpenedState
                        }"
          >
            <span class="rotate">
              <i class="icon-line-top"></i>
              <i class="icon-line-center"></i>
              <i class="icon-line-bottom"></i>
            </span>
          </span>
        </a>
      </li>
    </ul>

    <!--Sidebar Menu Panel-->
    {{> sidebar-menu-1}}

    <!--Sidebar Menu Panel-->
    {{> sidebar-menu-2}}

    <!--Sidebar Menu Panel-->
    {{> sidebar-menu-3}}

    <!--Sidebar Menu Panel-->
    {{> sidebar-menu-4}}
  </div>
</nav>
